*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans';
    font-weight: 400;
}

.header{
    height: 100px;
    width: 100%;
    padding: 30px 50px;
    float: left;
}
.header img{
    float: left;
    margin-left: 50px;
}
.header h1{
    float: left;
    color: rgb(249,163,146);
    margin: 0px 50px;
    font-weight: 200;
    position: relative;
}
small{
    font-size: 16px;
    margin-top: 30px;
    font-weight: 100;
    margin-left: -120px;
    padding: 0px;
    color: rgb(249,163,146);
    position: absolute;
}
ul{
    float: right;
    margin: 20px 70px;
    padding: 0px 30px;
}
li, li a{
    text-decoration: none;
    display: inline;
    color: rgb(249,163,146);
    padding: 0px 12px;
}
.clear{
    clear: both;
}
hr{
    height: 3px;
    border: none;
    background-color: rgb(249,163,146);
    margin-top: 5px;
}

section{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-around;
}

.div{
    width: 30%;
    height: 150px;
}
.img{
    width: 90%;
    height: 300px;
}
button{
    width: 200px;
    height: 40px;
    background-color: rgb(241, 115, 90);
    border: none;
    cursor: pointer;
    color: white;
    border: 3px solid rgb(241, 115, 90);
    border-radius: 20px;
}